<!doctype html>
<html ng-app='andela'>
  <head>
    <title>Andela Enrollment Form</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-controller="EnrollmentForm">
      <form>
        <h2>ANDELA ENROLLMENT FORM</h2>
        <div id="name">
         Name: <input type ="text" name="userName" ng-model="name"> 
        </div>
        <div id="email">
          Email: <input type ="text" email="userEmail" ng-model="email">
        </div>
        <div id="location">
          Location: <input type ="text" location="userLocation" ng-model="location">  
        </div>
        <div>
          <button type="submit" id="submit" ng-click ="saveData(event)">Submit</button>
        </div>
      </form>

    <h3>Results<h3>
      <div ng-bind-template="{{formInfo.salutation}} {{formInfo.name}}">
      </div>
      <div ng-bind-template="{{formInfo.emailSalute}} {{formInfo.email}}">
      </div>
      <div ng-bind-template="{{formInfo.locationSalute}} {{formInfo.location}}">
      </div>
    <script type="text/javascript" src="js/angular.js"></script> 
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>